.dialog{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.name{
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
}
textarea{
    resize: none;
    display: inline;
    width: 400px;
}
button{
    padding: 10px  30px;
    width: 406px;
}