.message{
    background-color: cadetblue;
    border-radius: 12px;
    margin: 10px;
    padding: 5px;
}
.message__text{
    color: #a9e0e7;
    padding: 10px 0 10px 10px;
    text-align: left;
    background-color: #3c6f94;
    border-radius: 10px;
    max-width: 575px;
    flex-grow: 1;
}
.message-enter {
    opacity: 0;
}
.message-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
}
.message-enter-done {

}
.message-exit {
    opacity: 1;
}
.message-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}